.box {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: hwb(40 27% 71%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 0 auto;
  }


.box img{
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px hsl(51, 3%, 43%);
   
}
.box h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(232, 227, 239);
}

p{
color: rgb(231, 224, 237);
font-size: 25px;
font-family: sans-serif;

}
body {
    background-image: url(https://img.freepik.com/free-vector/cloud-with-falling-rain-background_1017-32364.jpg?w=2000);
    background-size: cover;
    background-repeat: no-repeat;
    
 
}
 